@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.cont {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 100vh;
    background-size: cover;

}

.text {
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.head {
    color: #5752ab;
    font-family: Bree Serif;
    font-size: 30px;
}

.para {
    color: #323f4b;
    font-family: "Roboto";
}

.but1 {
   margin-left: 10px;
    border-radius: 15px;
    background-color: #ffffff;

    color: #171f46;
    border-color: #d7dfe9;
    width: 150px;
    height: 40px;




}

.cont2 {
    margin: 20px;
    justify-content: space-between;

}

.but2 {
    background-color: #5752ab;
   margin-right:10px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    color: #ffffff;
    border-color: #d7dfe9;


}