@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.c{
    background-color: #225db0;
    background-size: cover;
    height:100vh;
}
.h{
    font-weight:normal;
    margin:10px;
    color:white;
}
.p{
     margin:10px;
    color:white;
}
.aa{
    background-color: #ffffff;
    height:120px;
    width:200px;
    margin:20px;
    border-radius: 15px;
}
.i1{
   margin-left:60px; 
   margin-top:20px;
   width:70px;
   height:50px;
}
.p1{
    text-align:center;
}
.o{
    color:#ffffff;
   
}
.pt{
     padding:10px;
}
.button{
    background-color:#225db0 ;
    color:white;
    border-color:#ffffff;
}
.t{
    margin:10px;
    padding:20px;
    background-color: #225db0;
     background-size: cover;
    height:200vh;
}