.a{
    width:100%;
}
.p{
    color:rgb(158, 169, 179);
    font-size:25px;
}
.h{
    color: #333333;
    font-size:24px;
}
.i{
    width:100px;
}
.pt{
    width:100px;
}
.t{
    width:100px;
}
.tp{
    padding:10px;
}
.c{
    padding:10px;
}