@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.ol{
    list-style-type: none;
}
.img{
    width:250px;
    height:100px;
    padding:10px;
    justify-content: center;
}
.cont{
    background-color:#875fc0;
    background-size:cover;
    height:150vh;
    width:100;
}
 .p1{
     color:white;
    text-align: right;
    font-weight: 500;
    padding:10px;
    font-size: 30px;
 }
.h1{
    font-size: 30px;
    padding:20px;
    
    color:#1f2933;
}
.p2{
    color:#323f4b;
    
}
.first{
    background-color: white;
    text-align: center;
    padding:10px;
    margin:20px;
    
    border-radius:15px;
    justify-content:center ;
    width:300px;
}
.second{
     background-color: #ffffff;
     width:300px;
     height:300px;
     padding:10px;
     margin:20px;
     border-radius:15px;
}
.a{
    border-color:#1f2933;
    border:1px;
    padding:7px;
    border-style: solid;
    margin:7px;
    border-radius:10px;
}
.c{
     border-color:#1f2933;
    border:1px;
    padding:7px;
     margin:7px;
    color:white;
    border-style: solid;
    border-radius:10px;
    background-color: #875fc0;
    
}
.button{
   color:#ffffff;
   background-color:#fbaf00 ;
   border-radius:5px;
   width:100px;
   border:0px;
   height:30px;
    
}