.a{
    background-image: url('https://s3.ap-south-1.amazonaws.com/new-assets.ccbp.in/frontend/loading-data/niat_static/niat_bootstrap/images_and_margins_1_v1_bg_1.jpg');
    background-size: cover;
    height:100vh;
}